body{
    font-family: 'Roboto Condensed', sans-serif;
}
nav ul a{
   padding: 0 20px; 
   font-weight: 400;
   text-transform: uppercase;
   color: #3739fb;
}
.sidenav li>a{
    color: #3739fb;
}
.menu{
    background-color: #3739fb;
    background-position: center;
    background-size: cover;
    height: 47vw;
}
.color-menu{
    color: #3739fb;
}
.img-icon{
    width: 15em;
    display:block;
    margin:auto;
    margin-top: 6%
}
.title{
    color: #50e3c2;
    font-weight:700;
    font-size: 3em;
    text-transform: uppercase; 
    display: inline-block;
}
.title-2{
    color: #50e3c2;
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 1%;
}
.title-3{
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
}
.title-4{
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 5%;
}
.title-4 a{
    color: #ffff;
    text-decoration: underline;
}
.title-movil{
    font-weight:700;
    color: #50e3c2;
    text-transform: uppercase; 
    font-size: 4em;
    margin: 10% 0 0 0;
}
.title-movil-2{
    font-weight:300;
    color: #50e3c2;
    text-transform: uppercase; 
    font-size: 2.3em;
    margin-top: 2%;
}
.title-movil-3{
    font-weight:300;
    text-transform: uppercase; 
    font-size: 1.1em;
    margin-top: 0;
}
.title-movil-4{
    margin-top: 35%;
}
.title-movil-4 a{
    color: #ffff;
    text-decoration: underline;
}
.menu-movil{
    background-color: #3739fb;
    background-position: center;
    background-size: cover;
    height: 171vw;
}
.text{
    text-align: justify;
    font-weight: 400;
    color:#2e3c40;
}
.title-mi{
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10%;
    color: #ff5c5c;
}
.title-menu{
    margin-top: 15%;
    font-weight: 300;
    color: #50e3c2;
    text-transform: uppercase;
}
.fondo{
    background-color: #ff5c5c;
    height: 48vw;
    width: 50%;
}
#btn-cv{
   margin-top: 5%;
   width: 15em;
   background-color:#50e3c2;
}
#btn-cv:hover{
    background-color: #3739fb;
}
.img-icon2{
    width: 10%;
    display: block;
    margin: auto;
    margin-top: 35%;
}
.text-inicial{
    font-weight: 700;
}
.icons{
    display: block;
    font-size: 3em;
    margin-top: 15%;
    
}
.icons a{
    color: #ffff;
    padding: 0 5%;
}
.icons a:hover{
    color: #50e3c2;
}
.fondo-movil-2{
    background-color: #ff5c5c;
}
/* Sobre mi movil */
.img-icon3{
    width: 4em;
    display: block;
    margin: auto;
    margin-top: 10%;
}
#btn-movil-cv{
    margin-top: 10%;
    width: 15em;
    background-color:#50e3c2;
}  
#btn-movil-cv:hover{
    background-color: #3739fb;
}
.icons-2 a{
    color: #ffff;
    padding: 0 5%;
    font-size: 3em;
}
.icons-2 a:hover{
    color: #50e3c2;
}
.icons-2{
    margin-top: 10%;
    margin-bottom: 5%;
}
/* Portafolio */
.img-portafolio{
    width: 25em;
}
.title-portafolio{
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
    color: #3739fb;
}
.title-portafolio2{
    font-size: 400%;
    font-weight: 700;
    text-transform: uppercase;
    color: #3739fb;
}
.title-menu2{
    margin-top: 6%;
    font-weight: 300;
    color: #50e3c2;
    text-transform: uppercase;
}
/* Corazón */
@main-black: rgba(32, 36, 39, 0.85);

.heart {
  margin: 0 auto;
  background: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  width: 50px;
  height: 50px;
  background-size: 2900%;
  background-repeat: no-repeat;
  &:hover {
    background-position: right;
    &.tooltip:after, &.tooltip:before {
      opacity: 1;
    }
  }
}

.animated-heart {
  animation-name: moveHeart;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

.tooltip {
  &:before {
    content: attr(data-content);
    display: block;
    background-color: @main-black;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
  }
  &:after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	  border-top: 5px solid @main-black;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
  }
  &:before, &:after {
    top: -14px;
    position: relative;
    opacity: 0;
    transition: opacity 200ms linear;
  }
}

@keyframes moveHeart {
    0% { background-position: left; }
    50% { background-position: right; }
    100% { background-position: right; }
}


/*
 * Just some extra code for the demo.
*/
.container {
  padding: 20px;
  text-align: center;
}

.infinite-heart {
  animation-iteration-count: infinite;
}

.click-heart {
  cursor: pointer;
}